

/* BASIC SETUP */

.page-wrapper {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
}

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 10vh;
    
    background-color: #F9F9F9;
    border-bottom:1px solid #ccc;

}

.navbar img {
    height: 10vh;
    width: 200px;
    margin-left: 4vw;
object-fit: cover;
}

.navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    justify-content: space-around;
    z-index: 9999;
    margin-right: 2vw;

}

.nav-item a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    color: #D47AE8;
    margin: 0.5rem;
}



/* SECTIONS */

.headline {
    width: 100%;
    height: 50vh;
    min-height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    display: flex;
    padding: 50px 20px;
    justify-content: space-around;
}

.feature-container {
    flex-basis: 30%;
    margin-top: 10px;
}

.feature-container p {
    color: #000;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 15px;
}

.feature-container img {
    width: 100%;
    margin-bottom: 15px;
}

/* SEARCH FUNCTION */

#search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
}

#search-icon:hover {
    color: #3498db;
    cursor: pointer;
}

.search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
}

.no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
}

.search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
}

.search-active {
    opacity: 1;
    z-index: 0;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #FB7AFC;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
}

.menu-toggle:hover {
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
    .features {
        flex-direction: column;
        padding: 50px;
    }

    /* MOBILE HEADINGS */

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 7vh;
        background-color: #F9F9F9;
        width: 100%;
        height: calc(100vh - 10vh);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        margin-right: 0;    
    }

    .navbar li {
        padding: 15px;
    }

    .navbar li:first-child {
        margin-top: 50px;
    }

    .navbar li a {
        font-size: 1rem;
    }

    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
        transform: translate(0%) !important;
    }

    /* SECTIONS */

    .headline {
        height: 20vh;
    }

    .feature-container p {
        margin-bottom: 25px;
    }

    .feature-container {
        margin-top: 20px;
    }

    .feature-container:nth-child(2) {
        order: -1;
    }

    /* SEARCH DISABLED ON MOBILE */

  

}
.icon{

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in;
}
.icon:hover{
  border-bottom: 2px solid yellow;
}
.Link{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #D47AE8;
    font-size: 1.1em;
    font-size: 1.2rem;
        font-weight: 400;
}